/*--------------------
Movies
--------------------*/
.movies {
  flex-basis: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  padding: 8px 18px;
  grid-gap: 10px;

}
.movie_card{
display: flex;
flex-direction: column;
justify-content: space-between;
  background-color: #000;
  border-radius: 10px;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }

    .movie_header{
      display: flex;
      justify-content: space-around;

      padding: 25px;

      &_content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      a{
        text-decoration: none;
      }
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina{
      max-height: 350px;
      max-width: 60%;
        margin-right: 20px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 25%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      &_icon{
        font-weight: bold;
        text-decoration: none;
        background-color: rgb(15, 230, 15);
        padding: 10px 10px;
        color: #fff;
        border-radius: 20px;
      }
      ul{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }

  }

}


